{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<main class="form-signin border rounded">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {{ render_form(form) }}
    <p class="mt-2 mb-3"><a class="link-primary" href="{{ url_for('auth.reset_password_request') }}">Forgot Password</a></p>
    <p class="mt-2 mb-3"><a class="link-primary" href="{{ url_for('auth.register') }}">Sign Up</a></p>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
</main>
    <!-- <div class="row justify-content-center">
        <div class="text-center">
            <main class="form-signin border rounded">
                <form action="" method="post" novalidate>
                    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
              
                    <div class="form-floating mb-3">
                        {{ form.username(class="form-control", placeholder="Username") }}
                        {{ form.username.label }}
                        {% for error in form.username.errors %}
                            <div class="form-text" style="color: red;">[{{ error }}]</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating">
                        {{ form.password(class="form-control", placeholder="Password") }}
                        {{ form.password.label }}
                        {% for error in form.password.errors %}
                            <div class="small" style="color: red;">[{{ error }}]</div>
                        {% endfor %}
                    </div>
                    
                    <div class="checkbox mb-3">
                        <label>
                            {{ form.remember_me() }} Remember Me
                        </label>
                    </div>

                    {{ form.submit(size=32, class="w-100 btn btn-lg btn-primary") }}

                    <p class="mt-2 mb-3"><a class="link-primary" href="{{ url_for('auth.reset_password_request') }}">Forgot Password</a></p>
                    <p class="mt-2 mb-3"><a class="link-primary" href="{{ url_for('auth.register') }}">Sign Up</a></p>
                    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
                </form>
            </main>
        </div>
    </div> -->
{% endblock %}