{% extends "base.html" %}

{% block content %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-top">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 img-thumbnail shadow" src="{{ image_file }}" alt="{{ image_file }}" />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">nekakav važan teks ako bude bilo potrebe</div>
                <h1 class="display-5 fw-bolder" style="text-transform: uppercase;">{{ plant.name }}</h1>
                <div class="fs-5 mb-3">
                    <span>{{ plant.description }}</span>
                </div>
                <div class="lh-2 mb-3">
                    {% for value in values %}
                    <small class="lead">{{ value.indicator }}: {{ value.min_value }} - {{value.max_value}} [{{ value.unit }}]</small><br>
                    {% endfor %}
                </div>
                <div class="d-flex">
                    <form action="{{ url_for('pyflora.update_plant', plant_id=plant.id) }}" method="get">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Edit', class_='btn btn-outline-success flex-shrink-0') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}