{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block content %}
<h1 class="h3 mb-3 fw-normal">Add Plant</h1>
<div class="col-lg-7">
    <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate="">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type == 'FileField' %}
                <div class="input-group mb-3 custom-file-button">
                    {{ field.label(class="input-group-text col-3") }}
                    {{ field(class_="form-control") }}
                </div>
            {% elif field.type == 'FormField' %}
                <div class="input-group mb-3 ">
                    {{ field.label(class="input-group-text col-3") }}
                    {{ field.min_value(class_="form-control", placeholder=field.min_value.label.text) }}
                    {{ field.max_value(class_="form-control", placeholder="MAX") }}
                    <span class="input-group-text" style="width: 50px;">{{ field.render_kw['unit'] }}</span>
                    <span class="input-group-text" type="button" data-bs-toggle="popover" data-bs-content="{{ field.render_kw['popover_text'] }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </span>
                </div>
            {% elif field.type == 'SubmitField' %}
                {{ form.submit(class="btn btn-outline-success flex-shrink-0") }}
            {% elif field.type == 'CSRFTokenField' %}
                {{ pass }}
            {% else %}
                <div class="input-group mb-3">
                    <span class="input-group-text col-3">{{ field.label }}</span>
                    {{ field(class_="form-control") }}
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>


(() => {
    'use strict'
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
    })
})()

$(document).ready(function(){
    $('[data-bs-toggle="popover"]').popover({
        trigger: 'hover'
    });  
});

</script>
{% endblock %}