{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-top">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 img-thumbnail shadow" src="{{ image_file }}" alt="{{ image_file }}" />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">nekakav važan teks ako bude bilo potrebe</div>
                <h1 class="display-5 fw-bolder" style="text-transform: uppercase;">{{ plant.name }}</h1>
                <div class="fs-5 mb-3">
                    <span>{{ plant.description }}</span>
                </div>
                <div class="lh-2 mb-3">
                    {% for value in values %}
                    <small class="lead">{{ value.indicator }}: {{ value.min_value }} - {{value.max_value}} [{{ value.unit }}]</small><br>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-auto">
                        <form action="{{ url_for('pyflora.update_plant', plant_id=plant.id) }}" method="get">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Edit', class_='btn btn-outline-success flex-shrink-0') }}
                        </form>
                    </div>

                    <!-- button trgger modal bootstrap 5.3 -->
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Remove {{ plant.name }} from database</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        This action will remove {{ plant.name }} from database and all its related records.
                                    </p>

                                    Please be advised this action is <strong>irreversible!!</strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                    <form action="{{ url_for('pyflora.delete_plant', plant_id=plant.id) }}" method="get">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Delete', class_='btn btn-outline-danger btn-sm') }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}