{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-top">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 img-thumbnail shadow" src="{{ url_for('static', filename='plants/' + pot.get_plant(pot.plant_id).photo ) }}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{ pot.get_user(pot.user_id).username }}</div>
                <h1 class="display-5 fw-bolder" style="text-transform: uppercase;">{{ pot.name }}</h1>
                <div class="fs-5 mb-3">
                    <a style="text-decoration: none; text-transform: uppercase;" href="{{ url_for('pyflora.view_plant', plant_id=pot.plant_id) }}">
                        <span>{{ pot.get_plant(pot.plant_id).name }}</span>
                    </a>
                </div>
                <div class="fs-5 mb-3">
                    <span>{{ pot.description }}</span>
                </div>
                <div class="lh-2 mb-3">
                    test
                </div>
                <div class="hstack gap-3">
                    <form action="{{ url_for('pyflora.sync_pot', pot_id=pot.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Synchronize', class_='btn btn-outline-success btn-md') }}
                    </form>
                    <form action="{{ url_for('pyflora.update_pot', pot_id=pot.id) }}" method="get">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Update', class_='btn btn-outline-success btn-md') }}
                    </form>

                    <!-- button trgger modal bootstrap 5.3 -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Remove {{ pot.name }} from database</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        This action will remove {{ pot.name }} from database and all its related records.
                                    </p>

                                    Please be advised this action is <strong>irreversible!!</strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                    <form action="{{ url_for('pyflora.delete_pot', pot_id=pot.id) }}" method="get">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Delete', class_='btn btn-outline-danger btn-sm') }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header border-top">
        <nav>
            <div class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <button class="nav-link active" style="text-transform: uppercase;" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Line chart</button>
                <button class="nav-link" style="text-transform: uppercase;" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Radar chart</button>
                <button class="nav-link" style="text-transform: uppercase;" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Histogram chart</button>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div id='line_chart' class='chart' style="width:100%"></div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div id='pie_chart' class='chart' style="width:100%"></div>
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                <div id='histo_chart' class='chart' style="width:100%"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
<script type="text/javascript">

    plotly_chart = document.getElementById('line_chart');
    var graphs = {{line_graphJSON | safe}};
    graphs.config = {'displayModeBar': false, 'responsive': true, 'autosizable': true, 'fillFrame': false}
    Plotly.newPlot(plotly_chart, graphs,{});

</script>
<script type="text/javascript">

    plotly_chart = document.getElementById('histo_chart');
    var graphs = {{histo_graphJSON | safe}};
    graphs.config = {'displayModeBar': false, 'responsive': true, 'autosizable': true, 'fillFrame': false}
    Plotly.newPlot(plotly_chart, graphs,{});

</script>
<script type="text/javascript">

    plotly_chart = document.getElementById('pie_chart');
    var graphs = {{pie_graphJSON | safe}};
    graphs.config = {'displayModeBar': false, 'responsive': true, 'autosizable': true, 'fillFrame': false}
    Plotly.newPlot(plotly_chart, graphs,{});

</script>
{% endblock %}

