* {
  border-radius: 0;
}

h5 a {
  text-decoration: none;
  color: unset;
}

body {
  margin-top: 5rem;
}

/* html,
.login-cs {
  height: 100%;
}

.login-cs {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
/* 
.form-signin .checkbox {
  font-weight: 400;
} */

/* .form-signin .form-floating:focus-within {
  z-index: 2;
} */

/* .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

/* body {background-color:#163a63; color:#163a63; padding-top:15px;} */

.list-group {box-shadow: 0px 11px 23px 5px rgba(0,0,0,0.34);}

.list-group-item {background-color: rgba(255,255,255,0.7); border:1;}

section img {box-shadow: 0px 11px 23px 5px rgba(0,0,0,0.34);}
/* .btn-toolbar {margin-top:10px;} */

/* img {
  float:left; 
  margin-right:15px;
} */