
<div class="col g-4">
    <div class="card h-100">
        <img class="img-thumbnail bd-0" src="{{ url_for('static', filename='plants/' + plant.photo) }}" alt="missing image">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('main.view_plant', plant_id=plant.id) }}">{{ plant.name }}</a>
            </h5>
            <p class="card-text">{{ plant.description }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>