{% if pot.get_plant(pot.plant_id) %}
<div class="col g-4">
    <div class="card h-100">
        <img class="img-thumbnail bd-0" src="{{ url_for('static', filename='plants/' + pot.get_plant(pot.plant_id).photo ) }}" alt="missing image">
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-dark" href="{{ url_for('main.view_pot', pot_id=pot.id) }}">{{ pot.name }}</a>
            </h5>
            <p class="card-text">{{ pot.description }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
{% else %}
<div class="col g-4">
    <div class="card h-100">
        <img class="img-thumbnail bd-0" src="{{ url_for('static', filename='plants/default.jpg') }}" alt="missing image">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('main.update_pot', pot_id=pot.id) }}">Empty Pot</a>
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
{% endif %}