
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% if title %}
        <title>PyFlora - {{ title }}</title>
        {% else %}
        <title>PyFlora</title>
        {% endif %}
        {% endblock %}
    </head>
    <body">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md bg-light fixed-top border-bottom ">
          <div class="container">
            <a class="lh-1 text-black w-50 me-auto" href="{{ url_for('main.index') }}" style="text-decoration: none;">
              <h1 class="h4 mb-0">pyFlora</h1>
              <small>Algebra seminarski</small>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100" id="navbarNav">
              <div class="nav navbar-nav ms-auto w-100 justify-content-end">
                {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('auth.login') }}">
                  <span>
                    Login
                  </span>
                </a>
                <a class="nav-link" href="{{ url_for('auth.register') }}">
                  <span>
                    Register
                  </span>
                </a>
                {% else %}
                <!-- <a class="nav-link" href="">
                  <span>
                    Weather
                  </span>
                </a> -->
                <a class="nav-link" href="{{ url_for('pyflora.list_plant') }}">
                  <span>
                    PyPlants
                  </span>
                </a>
                <a class="nav-link" href="{{ url_for('pyflora.list_pot') }}">
                  <span>
                    PyPots
                  </span>
                </a>
                <!-- <div class="vr"></div> -->
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fw-bold">
                      {{current_user.username}}
                    </span>
                  </a>
                  <div class="dropdown-menu text-small">
                    <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                    {% if current_user.is_admin %}
                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin interface</a>
                    {% endif %}
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a>
                  </div>
                </div>
                {% endif %}
              </div>

            </div>
          </div>
        </nav>

        <main class="container">

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>
        <footer class="py-4 my-4">
          <p class="text-center text-body-secondary border-top pt-4">© 2023 pyFlora, Algebra seminarski rad</p>
        </footer>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {{ moment.include_moment() }}
            {{ moment.locale(auto_detect=True) }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endblock %}
    </body>

</html>