{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block content %}
<h1 class="h3 mb-3 fw-normal">Add Plant</h1>
<!-- <h1>Add Plant</h1> -->
<form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate="">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.type == 'IntegerField' and 'min' in field.name %}
            {% include '_sensor_input_min.html' %}
        {% elif field.type == 'IntegerField' and 'max' in field.name %}
            {% include '_sensor_input_max.html' %}
        {% elif field.type == 'SubmitField' %}
            {{ render_field(field, form_type='inline', placeholder=field.label.text) }}
        {% else %}
            {% include '_sensor_input.html' %}
        {% endif %}
    {% endfor %}
</form>
<!-- Optional JavaScript new plant-->
<button type="button" data-bs-toggle="popover" title="Popover title" data-bs-content="Here's some amazing content.">Click to toggle popover</button>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
(() => {
  'use strict'
  document.querySelectorAll('[data-bs-toggle="popover"]')
  .forEach(popover => {
    new bootstrap.Popover(popover)
  })
  // const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  // const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  
//   Example starter JavaScript for disabling form submissions if there are invalid fields
//   Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')
  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }
      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
{% endblock %}