{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td>slika</td>
        <td>
            Name: {{ plant.name }}<br>
            Salinity:{{ plant.salinity }}<br>
            Temperature: {{ plant.temperature }}<br>
            pH range: {{ plant.ph_range }}<br>
            Moisture: {{ plant.moisture }}<br>
            Shade: {{ plant.shade }}<br>
            Soil texture: {{ plant.soil_texture }}<br>
            Substrate: {{ plant.substrate }}<br>
            Description: {{ plant.description }}<br>
        </td>
    </tr>
</table>
{% endblock %}