{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td>slika</td>
        <td>
            Name: {{ pot.name }}<br>
            Plant: {{ pot.get_plant(pot.plant_id).name }}<br>
            User: {{ pot.get_user(pot.user_id).username }}<br>
            Description: {{ pot.description }}<br>
            Graf: 
            <img src="data:image/png;base64,{{ data }}">
        </td>
    </tr>
</table>
<form action="{{ url_for('main.sync_pot', pot_id=pot.id) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.submit(value='Synchronize', class_='btn btn-primary btn-md') }}
</form>
<form action="{{ url_for('main.update_pot', pot_id=pot.id) }}" method="get">
    {{ form.hidden_tag() }}
    {{ form.submit(value='Update', class_='btn btn-primary btn-md') }}
</form>
{% endblock %}