{% extends "base.html" %}

{% block content %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-top">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 img-thumbnail shadow" src="{{ url_for('static', filename='plants/' + pot.get_plant(pot.plant_id).photo ) }}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{ pot.get_user(pot.user_id).username }}</div>
                <h1 class="display-5 fw-bolder" style="text-transform: uppercase;">{{ pot.name }}</h1>
                <div class="fs-5 mb-3">
                    <span>{{ pot.description }}</span>
                </div>
                <div class="lh-2 mb-3">
                    test
                </div>
                <div class="hstack gap-3">
                    <form action="{{ url_for('main.sync_pot', pot_id=pot.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Synchronize', class_='btn btn-outline-success btn-md') }}
                    </form>
                    <!-- <div class="vr"></div> -->
                    <form action="{{ url_for('main.update_pot', pot_id=pot.id) }}" method="get">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Update', class_='btn btn-outline-success btn-md') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/_line.js')}}"></script> -->
<nav>
    <div class="nav nav-tabs" id="myTab" role="tablist">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Line chart</button>
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Radar chart</button>
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Histogram chart</button>
    </div>
</nav>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <canvas onload="my_test_func()" id="line" width="400" height="400"></canvas>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <canvas id="radar" width="400" height="400"></canvas>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div id='chart' class='chart'></div>
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Optional JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/test.js')}}"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type="text/javascript">
    
    function my_test_func() {
        console.log("test");
    }

    const myChart = new Chart(ctx, config)
    const cols = {{ data['columns']|safe }}
    const df = {{ data['data'] }}
    const labs = {{ data['labels']|safe }}

    for (let i = 0; i < cols.length; i++){
        var line = addDataSet(myChart, cols[i], 'red', df[i].slice(0, 10), labs.slice(0, 10))
    }

    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});

</script>
{% endblock %}