{% extends "base.html" %}

{% block content %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-top">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 img-thumbnail" src="{{ image_file }}" alt="{{ image_file }}" /></div>
            <div class="col-md-6">
                <div class="small mb-1">nekakav važan teks ako bude bilo potrebe</div>
                <h1 class="display-5 fw-bolder" style="text-transform: uppercase;">{{ plant.name }}</h1>
                <div class="fs-5 mb-3">
                    <span>{{ plant.description }}</span>
                </div>
                <div class="lh-2 mb-3">
                    <small class="lead">Salinity:{{ plant.salinity }}</small><br>
                    <small class="lead">Temperature: {{ plant.temperature }}</small><br>
                    <small class="lead">pH range: {{ plant.ph_range }}</small><br>
                    <small class="lead">Moisture: {{ plant.moisture }}</small><br>
                    <small class="lead">Shade: {{ plant.shade }}</small><br>
                    <small class="lead">Soil texture: {{ plant.soil_texture }}</small><br>
                    <small class="lead">Substrate: {{ plant.substrate }}</small><br>
                </div>
                <div class="d-flex">
                    <form action="{{ url_for('main.update_plant', plant_id=plant.id) }}" method="get">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Edit', class_='btn btn-outline-dark flex-shrink-0') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}