{% extends "base.html" %}


{% block content %}

<!-- <section class="vh-100">
    <div class="container py-5 h-100">
  
      <div class="row d-flex justify-content-center align-items-center h-100"> -->
        <!-- <div class="col-md-8 col-lg-6 col-xl-4"> -->
  
          <h1 class="h3 mb-3 fw-normal">Current weather conditions</h1>
  
          <!-- <div class="input-group rounded mb-3">
            <input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
              aria-describedby="search-addon" />
            <a href="#!" type="button">
              <span class="input-group-text border-0 fw-bold" id="search-addon">
                Check!
              </span>
            </a>
          </div>
  
          <div class="mb-4 pb-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                value="option1" checked />
              <label class="form-check-label" for="inlineRadio1">Celsius</label>
            </div>
  
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                value="option2" />
              <label class="form-check-label" for="inlineRadio2">Farenheit</label>
            </div>
          </div> -->
            <div>
                <small>{{ cwd.lastupdate }}</small>
                <h2 >{{ cwd.city }}</h4>
            </div>
            <div>
                <div class="d-flex flex-row">
                    <img src="http://openweathermap.org/img/wn/{{ cwd.weather['icon'] }}@2x.png" width="75px" height="75px" alt="">
                    <h3 class="display-4">{{ cwd.temperature['value']|round_value() }}°C</h3>
                </div>
                <div>
                    Feels like: <strong>{{ cwd.feels_like['value']|round_value() }}°C</strong>, {{ cwd.weather[1] }}
                </div>
                <ul>
                    <li>
                        <div>
                            <i class="fa-solid fa-location-arrow fa-rotate-{{ cwd.wind_direction['value'] }}"></i>
                            {{ cwd.wind_speed['value'] }} {{ cwd.wind_direction['unit'] }}
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa-solid fa-gauge-simple"></i>
                            {{ cwd.pressure['value'] }} {{ cwd.pressure['unit'] }}
                        </div>
                    </li>
                </ul>
            </div>
  
          <div class="card">
            <div class="card-body">
  
              <h4 class="mb-1 sfw-normal">{{ cwd.city }}</h4>
              <p class="mb-2">Current temperature: <strong>{{ cwd.temperature['value']|round_value() }}°C</strong></p>
              <p>Feels like: <strong>{{ cwd.feels_like['value']|round_value() }}°C</strong></p>
              <p>Max: <strong>{{ cwd.temperature['max']|round_value() }}°C</strong>, Min: <strong>{{ cwd.temperature['min']|round_value() }}°C</strong></p>
  
              <div class="d-flex flex-row align-items-center">
                <p class="mb-0 me-4">{{ cwd.weather['value'] }}</p>
                <img src="http://openweathermap.org/img/wn/{{ cwd.weather['icon'] }}@2x.png" width="100px" height="100px" alt="">
              </div>
  
            </div>
          </div>
  
        <!-- </div> -->
      <!-- </div>
  
    </div>
  </section> -->
<div class="row">
    <div class="card-group">
        <div class="card col-md-6">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}